@model Grupa1Ozo.Models.OpremaPosla

@{
    ViewData["Title"] = "Delete";
}

<h1>Izbriši</h1>

<h3>Jeste li sigurni da želite izbrisati?</h3>
<div>
    <h4>OpremaPosla</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpremaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpremaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posao.Opis)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OpremaPoslaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Natrag</a>
    </form>
</div>
