@model Grupa1Ozo.Models.Oprema

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj novu opremu</h1>

<h4>Oprema</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OpremaId" class="control-label"></label>
                <input asp-for="OpremaId" class="form-control" />
                <span asp-validation-for="OpremaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NazivOpreme" class="control-label"></label>
                <input asp-for="NazivOpreme" class="form-control" />
                <span asp-validation-for="NazivOpreme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raspolozivost" class="control-label"></label>
                <input asp-for="Raspolozivost" class="form-control" />
                <span asp-validation-for="Raspolozivost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkladisteId" class="control-label"></label>
                <select asp-for="SkladisteId" class="form-control" asp-items="ViewBag.SkladisteId">
                    <option selected disabled>Odaberi skladište</option>
                </select>
                <span asp-validation-for="SkladisteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UslugaId" class="control-label"></label>
                <select asp-for="UslugaId" class="form-control" asp-items="ViewBag.UslugaId">
                    <option selected disabled>Odaberi uslugu</option>
                </select>
                <span asp-validation-for="UslugaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Natrag</a>
</div>

@section Scripts {
    @*<script src="~/js/dajMiOpcine.js"></script>*@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
