@model Grupa1Ozo.Models.Natjecaj

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Jeste li sigurni da želite izbrisati?</h3>
<div>
    <h4>Natjecaj</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JavniNatjecaj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JavniNatjecaj.Dobitnik)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NatjecajId" />
        <input type="submit" value="Izbriši" class="btn btn-danger" /> |
        <a asp-action="Index">Natrag</a>
    </form>
</div>
