@model Grupa1Ozo.Models.Usluga

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj novu uslugu</h1>

<h4>Usluga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UslugaId" class="control-label"></label>
                <input asp-for="UslugaId" class="form-control" />
                <span asp-validation-for="UslugaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KategorijaUslugeId" class="control-label"></label>
                <select asp-for="KategorijaUslugeId" class="form-control" asp-items="ViewBag.KategorijaUslugeId">
                    <option selected disabled>Odaberi kategoriju usluge</option>
                </select>
                <span asp-validation-for="KategorijaUslugeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Natrag</a>
</div>

@section Scripts {
    @*<script src="~/js/dajMiOpcine.js"></script>*@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
